
.container{
    width: 35vw;
    margin: 50px auto;
    padding: 30px;
    background: #ffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos del formulario */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #444;
}

input {
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

button {
    background: var(--third-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    margin-top: 15px;
}

@media(max-width: 768px) {
    .container {
        width: 60vw;
    }
}