.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;

    
    & div {
        font-size: 11px;
    }
    button {
    width: 36px;
    height: 36px;
}
}
/* .sidebar-span{
    min-width: 40px;
} */

.sidebar-footer{  
    
    & button {
        font-size: 20px;
        width: 36px;
        height: 36px;
        background-color: var(--secondary-color);
        display: flex;
        justify-content: center;        
        border-radius: 50%;
    }
    & img{
        margin-top: 15px;
        border-radius: 10px;
    }
}

.btn-initials{
    background-color: gray;
    color: black;
    font-weight: 800;
}
/* .botones-css{
    margin-left: 5.5px;
} */