button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    background-color: var(--third-color);
    border: none;
}

.channels-header {
    height: 45px;
    display: flex;
    justify-content: space-between;

    .channels-header-menu-btn {
        display: flex;
        align-items: center;

        & :hover {
            background-color: var(--secondary-color);
            border-radius: 6px;
        }
        & .channels-header-btn {
            height: 36px;
            width: 36px;
            font-size: 19px;
        }
    }

    & button {
        font-weight: 900;
        & a {
            padding: 5px;
            border-radius: 6px;
        }
        & :hover {
            background-color: var(--secondary-color);
        }
    }
}
.channels-list {
    & div {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 3px 0px;
    }
    & .channels-list-sections {
        display: block;
        align-items: center;
        padding: 10px 0px;
        background-color: var(--third-color);
        transition: background-color 0.3s;
        cursor: pointer;

        & span {
            display: flex;
            align-items: center;
            color: var(--text-color-secondary);
            margin-left: 8px;
        }

        & div {
            padding: 5px 0px;
            background-color: var(--third-color);
            border-radius: 6px;
        }
        & div:hover {
            background-color: var(--secondary-color);
            border-radius: 6px;
        }
        & div.active-item {
            pointer-events: none;
            background-color: var(--select-color);
            color: var(--primary-color);
        }
        & div.active-item span {
            color: var(--primary-color);
        }
    }

    & .channels-list-dropdown {
        
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 8px 0px;
        & .channels-list-dropdown-items {
            display: flex;
            flex-direction: column;

            & div {
                align-self: flex-start;
            }
        }

        & button {
            margin-top: 0px;
            display: flex;
            align-items: center;
            height: 25px;
            padding: 4px;
            background-color: var(--third-color);
            border-radius: 6px;
            transition: background-color 0.3s, transform 0.3s;
            color: var(--text-color-secondary);

            & span {
                margin-right: 2px;
            }
            & i {
                border-radius: 6px;
                display: flex;
                align-items: center;
                font-size: 22px;
                transition: transform 0.2s ease-in-out;
            }

            &:hover {
                background-color: var(--secondary-color);
            }

            & i.rotate {
                transform: rotate(90deg); /* Rotar la flecha a la derecha */
            }
        }
    }
}
.channels-list-dropdown-1 li {
    
    list-style: none;
    padding: 5px 10px;
    cursor: pointer;
    & span {
        margin-left: 12px;
    }
    &:hover {
        background-color: var(--secondary-color);
        border-radius: 6px;
    }
}

/* MODAL */
/* Dropdown */
.dropdown-button {
    background: #ccc;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-menu {
    background: #ddd;
    position: absolute;
    width: 150px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.dropdown-menu button {
    background: transparent;
    border: none;
    padding: 8px;
    text-align: left;
    width: 100%;
    cursor: pointer;
}

.dropdown-menu button:hover {
    background: #bbb;
}

/* Formulario dentro del dropdown */
.dropdown-container {
    background: #eee;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.dropdown-container h4 {
    margin-bottom: 8px;
}

.dropdown-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 8px;
}

.dropdown-actions {
    display: flex;
    justify-content: space-between;
}

.dropdown-actions button {
    border: none;
    padding: 6px 10px;
    cursor: pointer;
}

.dropdown-actions button:first-child {
    background: #4caf50;
    color: white;
}

.dropdown-actions button:last-child {
    background: #f44336;
    color: white;
}


