@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #461347;
  --secondary-color: #683C6B;
  --third-color: #572759;
  --text-color-primary: #FFFFFF;
  --text-color-secondary: #DBCAE1;
  --select-color:#F9EDFF;
  /* --background-color-hover: #F4F4F5; */
}

*{
  /* border: 0.1px solid red; */
  padding: 0px;
  margin: 0px;
  font-family: 'Lato',sans-serif;
  box-sizing: border-box;
  color: var(--text-color-primary);
  text-decoration: none;
}
button{
  
  cursor: pointer;
}

